
#main-title {
margin-bottom: 5px;
margin-left: 0;
margin-right: 0;
padding-top: 17px;
padding-bottom: 1px;
padding-left: 25px;
padding-right: 100px;
background-color: #cc6600;
border-bottom: 2px #666633 solid;
color: #f0f0e1;
font-weight: bold;
font-size: 1.2em;
letter-spacing: 5px;
text-align: left;
}

p.bar {
	background-image: url(/eclipse.org-common/themes/Phoenix/images/header_bg.gif);
	background-position: top left;
	background-repeat: repeat-x;
	background-color: #669;
	color: #fff;
	/*  font-size: 1.1em;  */
	font-size: 110%;
	font-weight: bold;
	margin-left: 0;
	margin-right: 4px;	
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 1px;
}

p.subbar {
	background-image: url(/eclipse.org-common/themes/Phoenix/images/searchbar_bg.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
	background-color: #595791;
	color: #000;
	/*  font-size: 1.1em;  */
	font-size: 110%;
	font-weight: bold;
	margin-left: 0;
	margin-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 1px;
}
